fastapi
uvicorn
httpx
pydantic
langchain
langchain-core
langchain-cohere
langgraph
langchain-google-genai
langchain-tavily
langchain-groq
langgraph-checkpoint-mongodb
langchain-huggingface
sentence-transformers
qdrant-client
pymongo
openai
langchain_openai